# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.deps
.libs
*.la
*.lo
*.m4

*-sample
